.nav{
    font-weight: 'bold';
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    // border: 1px solid lightgray;
    // border-radius: 10px;
}
.navLink{
    text-decoration: none;
    color: black;
}