.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 20px;
    width: 70vw;
    margin-top: 1rem;
    position: absolute;
    bottom: 25px;
    left: 10%;
    .ul{
        display: flex;
        list-style: none;
        padding: 1rem;
        gap: .51rem;
        text-align: center;
        .pageItem, .pageItemActive{
            border: 1px solid darkgray;
            padding: 0 .5rem;
            width:30px;
            border-radius: 10px;
            cursor: pointer;

        }
        .pageItemActive{
            background: darkgray;
        }
    }

}