.table{
  min-height: 50vh;
}

.table,  .th, .td, .title{
    border-right: 1px solid black;
    border-collapse: collapse;
    padding: .5rem 2rem;
}

.table, .th, .td:last-of-type {
    border-right: 0;
  }

.title{
  cursor: pointer;
  &:hover{text-decoration: underline;}
}


.tomato{color: tomato;}
.orange{color: orange;}
.green{color: green;}
.yellow{color: yellow;}
.tomato, .green,.orange,.yellow{   padding: .75rem 2rem;}