.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;


}