
.dark {
    background-color: #333;
    color: #e4e4e4;
    
}
.light {
    background-color: #fff;
    color: #333;
}

.button{cursor: pointer;}


.add-new-button {
    position: fixed;
    bottom: 25px;
    right: 15px; 
    background-color: tomato;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    color: #e4e4e4;
    font-size: 1.2rem;
    cursor: pointer;
}

.form-title{
    text-align: center;
    margin: 0;
    padding: 0;
}