/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./app/styles/Table.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Table_table__Q6c5H, .Table_th__U9_f4, .Table_td__OWT5_ {
  border-right: 1px solid black;
  border-collapse: collapse;
  padding: 0.75rem 2rem;
}

.Table_table__Q6c5H, .Table_th__U9_f4, .Table_td__OWT5_:last-of-type {
  border-right: 0;
}

.Table_tomato__y_F_j {
  color: tomato;
}

.Table_orange__DBP2c {
  color: orange;
}

.Table_green___trKp {
  color: green;
}

.Table_yellow__8_iym {
  color: yellow;
}

.Table_tomato__y_F_j, .Table_green___trKp, .Table_orange__DBP2c, .Table_yellow__8_iym {
  padding: 0.75rem 2rem;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./app/styles/Nav.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Nav_nav__0RbYf {
  font-weight: "bold";
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
}

.Nav_navLink__uDHyy {
  text-decoration: none;
  color: black;
}
