/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./app/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.page_main__WunS6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.page_description__ihOGI {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
}

.page_description__ihOGI a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.page_description__ihOGI p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.page_code__6jdGX {
  font-weight: 700;
  font-family: var(--font-mono);
}



.page_center__diPtZ {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.page_center__diPtZ::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.page_center__diPtZ::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.page_center__diPtZ::before,
.page_center__diPtZ::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./app/styles/Nav.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Nav_nav__0RbYf {
  font-weight: "bold";
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
}

.Nav_navLink__uDHyy {
  text-decoration: none;
  color: black;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[13].use[5]!./app/components/Dropdown/style.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dropdown {
  margin-right: 1rem;
  position: relative;
  display: inline-block;
}
.dropdown__dropbtn {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 45px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.dropdown__dropbtn-primary {
  margin-top: 10px;
}
.dropdown__dropbtn-cart, .dropdown__dropbtn-primary {
  background-color: transparent;
}
.dropdown__dropbtn-cart:hover, .dropdown__dropbtn-primary:hover {
  background-color: transparent;
}
.dropdown__content {
  display: none;
  position: absolute;
  right: -40px;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.5s;
}
.dropdown__content a {
  color: black;
  padding: 12px 16px !important;
  text-decoration: none;
  text-align: center;
  display: block;
}
.dropdown__content .logout-btn {
  background-color: black;
  color: #f1f1f1;
  box-sizing: border-box;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.4);
  width: 100px;
  margin-bottom: 7px !important;
  border-radius: 4px;
  transition: all 0.3s;
}
.dropdown__content .logout-btn:hover {
  background-color: black;
  color: #f1f1f1;
  margin-bottom: 2px;
  border-radius: 8px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./app/styles/Pagination.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Pagination_pagination___wqO_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid darkgray;
  border-radius: 20px;
  width: 50vw;
  margin-top: 1rem;
}
.Pagination_pagination___wqO_ .Pagination_ul___2dyb {
  display: flex;
  list-style: none;
  padding: 1rem;
  gap: 0.51rem;
  text-align: center;
}
.Pagination_pagination___wqO_ .Pagination_ul___2dyb .Pagination_pageItem__zu2Cn, .Pagination_pagination___wqO_ .Pagination_ul___2dyb .Pagination_pageItemActive__JIABu {
  border: 1px solid darkgray;
  padding: 0 0.5rem;
  width: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.Pagination_pagination___wqO_ .Pagination_ul___2dyb .Pagination_pageItemActive__JIABu {
  background: darkgray;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./app/styles/Table.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Table_table__Q6c5H {
  min-height: 50vh;
}

.Table_table__Q6c5H, .Table_th__U9_f4, .Table_td__OWT5_ {
  border-right: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem 2rem;
}

.Table_table__Q6c5H, .Table_th__U9_f4, .Table_td__OWT5_:last-of-type {
  border-right: 0;
}

.Table_tomato__y_F_j {
  color: tomato;
}

.Table_orange__DBP2c {
  color: orange;
}

.Table_green___trKp {
  color: green;
}

.Table_yellow__8_iym {
  color: yellow;
}

.Table_tomato__y_F_j, .Table_green___trKp, .Table_orange__DBP2c, .Table_yellow__8_iym {
  padding: 0.75rem 2rem;
}
